<template>
  <div id="wrapper">
    <base-header />
    <main>
      <router-view />
    </main>
  </div>
</template>
<<<<<<< Updated upstream
<script setup lang="ts"></script>
=======
<script setup lang="ts">
import { ref } from "vue"
import zh from "ant-design-vue/es/locale/zh_CN"
import en from "ant-design-vue/es/locale/en_US"
const uiLangues = { zh, en }
const locale = ref(uiLangues["zh"])
const handleChangeLangue = ({ locale: key }) => {
  locale.value = uiLangues[key]
}
</script>
>>>>>>> Stashed changes
<style lang="less"></style>
